@model HubManPractices.Service.ViewModels.ResellerViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["Exists"]!=null)
{
    <div class="alert alert-danger">@TempData["Exists"]</div>
}

@if (TempData["Error Adding Reseller"] != null)
{
    <div class="alert alert-danger">@TempData["Error Adding Reseller"]</div>
}



<div class="contactContainer">
    <div class="banner">
        <div>Create</div>
    </div>
    @using (Html.BeginForm("Create", "Reseller", FormMethod.Post,new { enctype = "multipart/form-data", id="contactItem"}))
    {
        @Html.AntiForgeryToken()
        <label for="Name">@Html.DisplayNameFor(model => model.Name)</label>
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { placeholder = "Enter Full Name" } })
        <label for="ClientsQuota">@Html.DisplayNameFor(model => model.ClientsQuota)</label>
        @Html.EditorFor(model => model.ClientsQuota, new { htmlAttributes = new { placeholder = "Enter Clients Quota" } })
        <input type='file' id="imgInp" />
        <img id="blah" src="#" alt="your image" />
        <input type="submit" value="Create" />
    }
</div>



@section scripts
{
    <script type="text/javascript" src="@Url.Content("/Scripts/script.js")"></script>

}