@model Tuple<IEnumerable<HubManPractices.Service.ViewModels.ClientViewModel>, IEnumerable<HubManPractices.Service.ViewModels.ClientViewModel>,Dictionary<string,int>>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    @{
        int TotalEmployees = 0;
        foreach (var client in Model.Item1)
        {
            TotalEmployees += client.Seats;
        }
    }
    <div id="welcome">
        <div class="welcomeOverview">
            <div class="welcomeBody">
                <div class="welcomeName">Clients Overview</div>
                <div class="welcomeDetails">
                    <div class="welcomeItem">
                        <i class="fa fa-briefcase" aria-hidden="true"></i>
                        <div id="clientNumber">@Model.Item1.Count()</div>
                        <div class="itemName">Client</div>
                    </div>
                    <div class="welcomeItem">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <div id="empNumber">@TotalEmployees</div>
                        <div class="itemName">Employees</div>
                    </div>
                    <div class="welcomeItem">
                        <i class="fa fa-database" aria-hidden="true"></i>
                        <div id="quotaNumber">62%</div>
                        <div class="itemName">Quota</div>
                    </div>
                </div>
            </div>
            <div class="viewClient">
                <img src="~/Content/Images/layout.PNG" alt="">
                <div><a href="#">View/Edit Clients <i class="fa fa-arrow-circle-right"></i></a></div>
            </div>
            <div class="addClient">
                <img src="~/Content/Images/human.PNG" alt="">
                <div><a href="#">Add New Client <i class="fa fa-arrow-circle-right"></i></a></div>
            </div>
        </div>
        <div class="welcomeStatistic">
            <div class="statisticBody">
                <div class="statisticName">Statistic</div>
            </div>
            <div class="statisticDetails">
                Monthly Installations<i class="fa fa-arrow-circle-right"></i>
            </div>
            <div id="chart">
                <ul id="bars">
                    @foreach (var item in Model.Item3)
                    {
                        <li><div data-percentage="@item.Value" class="bar"></div><span>@item.Key</span></li>
                    }
                </ul>
            </div>
        </div>
        <div class="recentClients">
            <div class="recentName">Your Recent Clients</div>
            <div class="viewAll"><a href="Client.html">View All  <i class="fa fa-arrow-circle-right"></i></a></div>
            <div id="recentContainer">
                <div class="recentDetails">
                    <div class="clientLeft">
                        <div><a href="">G.R Motorcycles<i class="fa fa-arrow-circle-right"></i></a></div>
                        <div class="clientLoc"><i class="fa fa-map-marker" aria-hidden="true"></i>Kuwait</div>
                        <div class="clientDate">Added: <span>8 Aug. 2016</span></div>
                    </div>
                    <div class="clientRight">
                        <div class="clientEmp">
                            <p class="empNumber">120</p>
                            <p class="empName">Employees</p>
                        </div>
                        <div class="clientLic">
                            <div>
                                <p class="empNumber">E3</p>
                                <p class="empName">Employees</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="recentDetails">
                    <div class="clientLeft">
                        <div><a href="">National Arab Trade and Export company<i class="fa fa-arrow-circle-right"></i></a></div>
                        <div class="clientLoc"><i class="fa fa-map-marker" aria-hidden="true"></i>Kuwait</div>
                        <div class="clientDate">Added: <span>8 Aug. 2016</span></div>
                    </div>
                    <div class="clientRight">
                        <div class="clientEmp">
                            <p class="empNumber">120</p>
                            <p class="empName">Employees</p>
                        </div>
                        <div class="clientLic">
                            <div>
                                <p class="empNumber">E3</p>
                                <p class="empName">Employees</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="recentDetails">
                    <div class="clientLeft">
                        <div><a href="">National Arab Trade and Export company<i class="fa fa-arrow-circle-right"></i></a></div>
                        <div class="clientLoc"><i class="fa fa-map-marker" aria-hidden="true"></i>Kuwait</div>
                        <div class="clientDate">Added: <span>8 Aug. 2016</span></div>
                    </div>
                    <div class="clientRight">
                        <div class="clientEmp">
                            <p class="empNumber">120</p>
                            <p class="empName">Employees</p>
                        </div>
                        <div class="clientLic">
                            <div>
                                <p class="empNumber">E3</p>
                                <p class="empName">Employees</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script>
    $(document).ready(function () {

        //document.getElementById('nav').style.backgroundImage="url(@@Model.Item1.FirstOrDefault().reseller.ResellerImage.Replace("~","").ToString()";
        var Keys = @Html.Raw(Json.Encode(Model.Item3.Keys));
        var Values =@Html.Raw(Json.Encode(Model.Item3.Values));
        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: Keys,
                datasets: [{
                    label: ' Number Of Clients',
                    data: Values,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            stepSize: 1
                        }
                    }]
                }
            }
        });

    });
   
</script>



@section scripts
{
    <script type="text/javascript" src="@Url.Content("/Scripts/Chart.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/script.js")"></script>
}