@using HubManPractices.Service.ViewModels
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<h2>@ViewBag.Title.</h2>
<div class="contactContainer">
    <div class="banner">
        <div>Log In</div>
        <div>Use A Local Account To Log In</div>
    </div>
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form",@id="contactItem" }))
            {
                @Html.AntiForgeryToken()
                 
                    <label for="UserName">@Html.DisplayNameFor(model => model.UserName)</label>
                    @Html.TextBoxFor(m => m.UserName, new {@placeholder="UserName" })
                    @Html.ValidationMessageFor(m => m.UserName)
                
                    <label for="Password">@Html.DisplayNameFor(model => model.Password)</label>
                    @Html.TextBoxFor(m => m.Password, new {type="password",@placeholder="Enter Your Password" })
                    @Html.ValidationMessageFor(m => m.Password)
                    
                    <div id="checkbox">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        <label for="RememberMe">@Html.DisplayNameFor(model => model.RememberMe)</label>
                    </div>
                    <input type="submit" value="Log in"/>
         
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </section>
    <!--
        <div class="col-md-4">
        <section id="socialLoginForm">
            @@Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div> 
-->
</div>
