@model IEnumerable<HubManPractices.Service.ViewModels.ClientViewModel>

@{
    ViewBag.Title = "GetDeleted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="contactContainer">
    <div class="banner">
        <div>Deleted Clients</div>
    </div>
    <div class="clearfix"></div>

    <div class="clientListRow">
        <div class="clientListHeader">
            <div class="clientListRowHeader">
                #
            </div>
            <div class="clientListRowHeader">
                @Html.DisplayNameFor(model => model.FirstOrDefault().ClientName)
            </div>
            <div class="clientListRowHeader">
                @Html.DisplayNameFor(model => model.FirstOrDefault().Status)
            </div>
            <div class="clientListRowHeader">
                @Html.DisplayNameFor(model => model.FirstOrDefault().ContactNumber)
            </div>
            <div class="clientListRowHeader">
                @Html.DisplayNameFor(model => model.FirstOrDefault().Expiry)
            </div>
            <div class="clientListRowHeader">
                Action
            </div>
        </div>

        <div class="clientListBody">

            @{
                var i = 0;
            }
            @foreach (var item in Model)
            {
                ++i;
                <div class="clientListRowBody">
                    <div class="clientListRowBodyContainer">@i</div>
                    <div class="clientListRowBodyContainer">@item.ClientName</div>
                    <div class="clientListRowBodyContainer">@item.Status</div>
                    <div class="clientListRowBodyContainer">@item.ContactNumber</div>
                    @if (@item.IsExpiryNull == true)
                    {
                        <div class="clientListRowBodyContainer">No Expiry Yet</div>
                    }
                    else
                    {
                        <div class="clientListRowBodyContainer">@item.Expiry.ToString("MM-dd-yy")</div>
                    }
                    <div class="action">
                     @using (Html.BeginForm("Reactivate", "Client", FormMethod.Post, new { @style = "display:inline-block" }))
                        {
                            @Html.Hidden("ClientName", item.ClientName)
                            @Html.Hidden("ContactMail", item.ContactMail)
                            <input type="submit" value="Reactivate" data-type="reactivate" style="margin-right:30px" />
                        }
                    </div>
                </div>
            }
        </div>
    </div>


</div>



