@model IEnumerable<HubManPractices.Service.ViewModels.ClientViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@if (TempData["Create Success"] != null)
{
    <div class="alert alert-success">@TempData["Create Success"]</div>
}

@if (TempData["ReactivateClient"] != null)
{
    <div class="alert alert-success">@TempData["ReactivateClient"]</div>
}


@if (TempData["Upgrade Success"] != null)
{
    <div class="alert alert-success">@TempData["Upgrade Success"]</div>
}


@if (TempData["QuotaFull"] != null)
{
    <div class="alert alert-danger">@TempData["QuotaFull"]</div>
}

@if (TempData["DeleteError"] != null)
{
    <div class="alert alert-danger">@TempData["DeleteError"]</div>
}


<p>
    @Html.ActionLink("Add Client", "Create", new { ResellerID =TempData["ResellerID"]})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem=>item.Status)
        </td>
        <td>
            @if (Html.Action("HasPermission", "Client", new { pname = "Upgrade Client" }).ToString() == "True"  && item.Status != "On Hold" && item.Status!="Waiting For Renewal")
            {
                @Html.ActionLink("Upgrade", "Upgrade", new { ClientID = item.ClientID }, new { @class = "btn btn-primary btn-xs" })
                @: |
            }        
            @if(Html.Action("HasPermission", "Client", new { pname = "Activate Client" }).ToString() == "True" && item.Status != "Activated" && item.Status != "Waiting For Renewal")
            {
                using (Html.BeginForm("Activate", "Client", FormMethod.Post, new { @style = "display:inline-block" }))
                {
                    @Html.Hidden("ClientID", item.ClientID)
                    <input type="submit" value="Activate" class="btn btn-success btn-xs" />
                }
                @: |
            }

            @if (Html.Action("HasPermission", "Client", new { pname = "Delete Client" }).ToString() == "True")
            {
       
                    using (Html.BeginForm("Delete", "Client", FormMethod.Post, new { @style = "display:inline-block" }))
                    {
                        @Html.Hidden("ClientID", item.ClientID)
                        <input type="submit" value="Delete" class="btn btn-danger btn-xs" />
                }
                
            }
            @if (Html.Action("HasPermission", "Client", new { pname = "Suspend Client" }).ToString() == "True" && item.Status!= "Suspended" && item.Status!="On Hold" && item.Status != "Waiting For Renewal")
            {
                @: |
                    using (Html.BeginForm("Suspend", "Client", FormMethod.Post, new { @style = "display:inline-block" }))
                    {
                    @Html.Hidden("ClientID", item.ClientID)
                    <input type="submit" value="Suspend" class="btn btn-info btn-xs" />
                }
               
            }

            @if (Html.Action("HasPermission", "Client", new { pname = "Renew Client" }).ToString() == "True" && item.Expiry <= DateTime.Now && !item.IsExpiryNull)
            {
                @: |
                    using (Html.BeginForm("Renew", "Client", FormMethod.Post, new { @style = "display:inline-block" }))
                    {
                    @Html.Hidden("ClientID", item.ClientID)
                    <input type="submit" value="Renew" class="btn btn-primary btn-xs" />
                }
            }
        </td>
    </tr>
}

</table>
